<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div id="footer-placeholder" th:fragment="footer">
    <footer>
        <div class="footer-container">
            <div class="footer-links">
                <a th:href="@{/terms-of-service}">이용약관</a>
                <a th:href="@{/privacy-policy}">개인정보 처리 방침</a>            </div>
            <div class="footer-info">
                <p>&copy; 2025 아무말말말말 대잔치. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</div>

</body>
</html>