# 1. IDE 및 에디터 설정 (루트 및 하위 모두 무시)
**/.idea
**/.vscode
**/.vs
**/.settings
**/.project
**/.classpath
**/.factorypath
**/.sts4-cache
**/.nb-gradle
**/nbbuild
**/nbdist
**/nbproject

# 2. OS 및 시스템 파일
**/.DS_Store
**/.env
**/secrets.*.yaml
**/values.*.yaml

# 3. 빌드 결과물 및 캐시
**/build
**/target
**/out
**/dist
**/.gradle
**/.mvn
**/.next
**/.cache
**/*.class
**/*.log
**/*.jar
**/*.war

# Gradle Wrapper JAR은 제외
!gradle/wrapper/gradle-wrapper.jar

# action->docker 복사가능하게
!build/extracted

# 4. 버전 관리 (Git)
**/.git
**/.gitignore

# 5. 도커 관련 (이미지 안에 도커 설정 파일이 들어갈 필요 없음)
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
**/charts


# 6. 기타 파일
**/nginx.conf
LICENSE
README.md
LOAD_TEST_DATA_GUIDE.md
LOADTEST_SCHEMA_CHECKLIST.md
QUICK_START_LOADTEST.md
**/dump.rdb

docker-compose-private.yml

**/docs
